In [1]:
# IMporting Libraries and a dataset
import pandas as pd
import matplotlib.pyplot as plt
it_salaries = pd.read_csv(r'C:\Users\sasha\Documents\Data Analysis\Excel\it_salaries.csv')

In [ ]:
# Creating a copy of a table
its2 = it_salaries.copy()
its2

In [3]:
# Making Data more readable
its2.experience_level = its2.experience_level.replace('EN', 'Junior')
its2.experience_level = its2.experience_level.replace('MI', 'Medior')
its2.experience_level = its2.experience_level.replace('SE', 'Senior')
its2.experience_level = its2.experience_level.replace('EX', 'Executive')

its2.company_size = its2.company_size.replace('S', 'Small')
its2.company_size = its2.company_size.replace('M', 'Medium')
its2.company_size = its2.company_size.replace('L', 'Large')

its2.employment_type = its2.employment_type.replace('FT', 'Full Time')
its2.employment_type = its2.employment_type.replace('FL', 'Freelance')
its2.employment_type = its2.employment_type.replace('CT', 'Contract')
its2.employment_type = its2.employment_type.replace('PT', 'Part Time')

In [ ]:
# New table with jobs in Czech republic
cz_jobs = its2[its2['company_location'] == 'CZ']
cz_jobs.describe()
cz_jobs.reset_index(inplace=True)
cz_jobs

In [ ]:
# Limiting dataset only to Full-Time jobs
its2_FT = its2[its2['employment_type'] == 'Full Time']
its2_FT

In [ ]:
# Limiting DataFrame to a couple of countries, job titles
desired_location = ['AT', 'DE', 'FR', 'US']
desired_titles = ['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer']
# Making sure countries and job titles match
JT = its2_FT[its2_FT.job_title.isin(desired_titles) & 
          its2_FT.company_location.isin(desired_location)]
# Creating a pivot table
pivot = JT.pivot_table(values = 'salary_in_usd', index = 'job_title', columns = 'company_location', aggfunc = 'median')
# Reindexing the pivot table to make sure I'll get a correct result
pivot = pivot.reindex(index = desired_titles, columns = desired_location)
pivot

In [ ]:
# Creating a Bar Chart with top 5 most popular IT jobs Worldwide
top_5_jobs = its2_FT['job_title'].value_counts().head(5)
plt.barh(top_5_jobs.index, top_5_jobs.values)
plt.gca().invert_yaxis()
plt.xlabel("Number of Jobs")
plt.title("Top 5 IT Jobs Worldwide")
plt.grid(True, which = 'major', axis = 'x', linestyle='--')
plt.show()

In [ ]:
# Creating a Bar Chart showing Average salaries for Top 5 most popular IT jobs Worldwide
top_5_jobs = its2_FT['job_title'].value_counts().head(5).index
median_salaries = its2_FT[its2_FT['job_title'].isin(top_5_jobs)].groupby('job_title')['salary_in_usd'].median()
median_salaries = median_salaries.reindex(top_5_jobs)

plt.bar(top_5_jobs, median_salaries)
plt.xlabel("Job Name")
plt.title("Average Salaries for Top 5 IT Jobs Worldwide")
plt.xticks(rotation = 45, ha = 'center')
plt.grid(True, which = 'major', axis = 'y', linestyle='--')
for i, v in enumerate(median_salaries):
    plt.text(i, v + 1000, f'${v:,.0f}', ha='center', va='bottom')
plt.show()